<div class="header">
  <p class="title"><a href="/">RECOG-A</a></p>
  <img class="brain" src="/brain.jpg"/>
</div>

<div class="container">
<form class="pure-form pure-form-aligned" method="post" action="/login">
<fieldset>

<div class="pure-control-group">
<label for="email">Email Address:</label>
<input id="email" type="email" name="email" placeholder="Email Address">
</div>

<div class="pure-control-group">
<label for="password">Password:</label>
<input id="password" type="password" name="password" placeholder="Password">
</div>

<div class="pure-controls">
<button type="submit" class="pure-button pure-button-primary">Log In</button>
</div>

</fieldset>
</form>
</div>