<div class="header">
  <p class="title"><a href="/">RECOG-A</a></p>
  <img class="brain" src="/brain.jpg"/>
</div>

<p class="instructions">Please create an account for the person who will be taking the Recog.</p>
<div class="container">
<form class="pure-form pure-form-aligned" method="post" action="/users">
<fieldset>

<div class="pure-control-group">
<label for="first_name">First Name:</label>
<input id="first_name" type="text" name="first_name" placeholder="First Name">
</div>

<div class="pure-control-group">
<label for="last_name">Last Name:</label>
<input id="last_name" type="text" name="last_name" placeholder="Last Name">
</div>

<div class="pure-control-group">
<label for="email">User's or Caretaker's Email Address:</label>
<input id="email" type="email" name="email" placeholder="Email Address">
</div>

<div class="pure-control-group">
<label for="password">Password:</label>
<input id="password" type="password" name="password" placeholder="Password">
</div>

<div class="pure-control-group">
<label for="birth_date">Birth Date:</label>
<input id="birth_date" type="date" name="birth_date" placeholder="birth_date">
</div>

<div class="pure-control-group">
<label for="diagnosed_date">Date of Diagnosis:</label>
<input id="diagnosed_date" type="date" name="diagnosed_date" placeholder="diagnosed_date">
</div>

<div class="pure-controls">
<button type="submit" class="pure-button pure-button-primary">Create Account</button>
</div>

</fieldset>
</form>
</div>